<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrapValidator.css" />
</head>
<body style='background-image: url("/images/cover1.jpg")'>

<div class="home" style='background-image: url("/images/cover1.jpg"); background-size: cover'>
    <div class="container">
        <header>
            <h1>Smart KILIN Sytem

            </h1>
        </header>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row"></div>
    </div>

    <div class="container" id="loginbox">
        <div class="row">
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-heading">KILIN系统登录</div>
                    <div class="panel-body">
                        <div class="text-center center-block">
                            <form role="form" class="form-inline" id="loginform">
                                <div class="form-group">
                                    <label for="input-email" class="sr-only" name="email">Email address</label>
                                    <input id="input-email" type="email" placeholder="Type your email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="input-password" class="sr-only">Password</label>
                                    <input id="input-password" type="password" placeholder="Type your password" class="form-control">
                                </div>
                                <div class="checkbox c-checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <span class="fa fa-check"></span>记住我</label>
                                </div>
                                <a id="btn-login" class="btn btn-success">登录  </a> | <a id="btn-login" class="btn btn-warning" onclick="$('#forgetpwd').show();$('#loginbox').hide()">忘记密码？  </a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container" style="display:none" id="forgetpwd">
        <div class="row">
            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-heading">KILIN系统找回密码</div>
                    <div class="panel-body">
                        <div class="text-center center-block">
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <label for="input-email" class="sr-only">Email address</label>
                                    <input id="input-email" type="email" placeholder="Type your email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="input-password" class="sr-only">验证码</label>
                                    <input id="input-text" type="text" placeholder="Validation Code" class="form-control">
                                </div>
                                <a id="btn-login" class="btn btn-success">找回密码</a> | <a id="btn-login" class="btn btn-warning" onclick="$('#loginbox').show();$('#forgetpwd').hide()">取消</a>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12 col-lg-12 ">
            <p class="lead text-muted"></p>
            <!-- Thumbnails container -->
            <div class="row">
                <div class="col-lg-3 col-sm-3 ">
                    <div class="thumbnail">
                        <img src="/images/5.jpg" alt="">
                        <div class="caption">
                            <h3>无人机天线勘测</h3>
                            <p>介绍</p>
                            <a href="javascript:void(0);" class="alert-link">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 ">
                    <div class="thumbnail">
                        <img src="/images/5.jpg" alt="">
                        <div class="caption">
                            <h3>无人机天线勘测</h3>
                            <p>介绍</p>
                            <a href="javascript:void(0);" class="alert-link">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 ">
                    <div class="thumbnail">
                        <img src="/images/5.jpg" alt="">
                        <div class="caption">
                            <h3>无人机天线勘测</h3>
                            <p>介绍</p>
                            <a href="javascript:void(0);" class="alert-link">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 ">
                    <div class="thumbnail">
                        <img src="/images/5.jpg" alt="">
                        <div class="caption">
                            <h3>无人机天线勘测</h3>
                            <p>介绍</p>
                            <a href="javascript:void(0);" class="alert-link">了解详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrapValidator.js"></script>
<script>
    $("#btn-login").click(function(){
        var usermail = $("#input-email").val();
        var password = $("#input-password").val();

        $.ajax({
            type: 'post',
            url: 'login',
            async: false,
            beforeSend: function(){
                //Amination goes here

            },
            dataType: 'json',
            data: {
                UserName: usermail,
                Pincode: password
            },
            success: function(data, status){
                if(data.code == "0")
                    window.location.href = "http://localhost:3000/index";
            }
        })
    })

    $(document).ready(function(){
        $('#loginform').bootstrapValidator({
            message: "This value is not valid",
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                email: {
                    validators: {
                        notEmpty: {
                            message: "The email is required and cannot be empty"
                        },
                        emailAddress: {
                            message: "The input is not a valid email address"
                        }
                    }
                }
            }
        })
    })
</script>
</body>
</html>